/* 헤더 스타일 */
header {
  background-color: #495057; /* 차콜 그레이 */
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
}

.header-logo {
  height: 40px;
  width: auto;
  display: block;
}

/* 로그아웃 버튼 */
header button {
  background-color: #007bff; /* 차분한 블루 */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header button:hover {
  background-color: #0056b3; /* 더 어두운 블루 */
}

header button:active {
  background-color: #003f7f; /* 클릭 시 더 어두운 블루 */
}

header button.hidden {
  display: none; /* 숨김 처리 */
}
